/**
	body
	helper (flash messager)
	form
	index/mld
	stage/index
	stage/fiche
	stage/depot
	responsable/index
*/

/* BODY (Navbar fixée a 50px) */
body { padding-top: 50px; padding-bottom: 20px; }

/* FLASH MESSAGER */
.flashMessager { padding: 15px; margin-right: auto; margin-left: auto; border: 1px solid transparent; border-radius: 4px; }

/* FORM */
.errors { font-size: 1.2em; color: #a94442; background-color: #f2dede; border-color: #ebccd1; padding: 5px; list-style: none; border-radius: 4px; }

/* INDEX/MLD */
#mldText { font-size: 13px; }

/* STAGE/INDEX */
#btnLegendStage { cursor: default; }
.legendeEtudiantAffecteStage { margin-top: -1px; margin-left: 3px; }
.iconEtudiantLibStage { height: 16px; margin-top: -7px; margin-left: 10px; }
.stageEtudiantBtnLeft { margin-left: 5px; }
#listeFormationStage { margin-top: -2px; }

/* STAGE/FICHE*/
#dialogConfirm { float:left; margin:3px 8px 0 0; }

/* STAGE/DEPOT */
#submitDepotStage { height: 35px; }
.cursorHand { cursor: Pointer; }

/* RESPONSABLE/INDEX */
.btnCrudResponsable { width : 24px; margin-top: -6px; margin-right: 8px; }

/* RESPONSABLE/DEPOTENSEIGNANT */
#navButtonAdmin { background: #636363; border: 1px solid black; border-radius: 4px; }
#navButtonAdmin .icon-bar { background: white; }
#marginHeader { margin-bottom: -1px; }
#paddingResponsable { padding-bottom: 0; padding-top: 15px; }
#imageAdminResponsable { height: 50px; margin-left: 45px; margin-right: 45px; } 
#formResponsableDepot dl dt label { margin-top: 10px; margin-bottom: 0px; }
#idFormation-element label { margin-right: 5px; }
#idFormation-element input { margin-left: 5px; margin-right: 5px; }
