/**
	body
	helper (flash messager)
	index/mld
	stage/index
*/

/* BODY (Navbar fixée a 50px) */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* FLASH MESSAGER */
.flahsMessager {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* INDEX/MLD */
#mldText { font-size: 13px; }

/* STAGE/INDEX */
#btnLegendStage { cursor: default; }
.legendeEtudiantAffecteStage { margin-top: -1px; margin-left: 3px; }
.iconEtudiantLibStage { height: 16px; margin-top: -7px; margin-left: 10px; }
.stageEtudiantBtnLeft { margin-left: 5px; }
